{% embed "layouts/main-layout.html.twig" %}
  {% block page_content %}
    <div class="callout large primary">
      <div class="text-center">
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        {% if app.user and app.user.id == user.id %}<a href="/user/{{ app.user.id }}/blog/add-post">ADD NEW POST...</a>{% endif %}
      </div>
    </div>
    <h3 class="inline-block">User posts</h3>
    <form class="inline-block" method="POST">
      <ul class="menu search-menu">
        <li><input type="text" name="search-word" placeholder="Search" value="{{ searchWord }}"></li>
        <li>
          <input type="hidden" name="current-page" id="current-page" value="{{ currentPage }}">
          <button type="submit" id="submit-search" class="button">Search</button>
        </li>
      </ul>
    </form>
    <section class="grid-container">
      <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">
        {% for blogPost in blogPosts %}
            <div class="cell">
              <p><b>{{ blogPost.title }}</b><p><p class="lightgray">{{ blogPost.dateTime|date('Y-m-d') }}</p>
              <img class="thumbnail" src="{% if blogPost.postImg %}{{ asset('../uploads/posts/' ~ blogPost.postImg) }}{% else %}{{ asset('assets/img/default.jpg') }}{% endif %}"/>
              <p class="blog-short-content">{{ blogPost.content }}</p> ...
              <p class="row">
                <span>Comments: {{ blogPost.getVisibleCommentsCount() }}</span>
                <a href="blog/post/{{ blogPost.id }}" class="button">READ</a>
              </p>
            </div>
        {% endfor %}
      </div>
      {% if totalPosts > 0 %}
        <hr>
        {% set numOfPages = (totalPosts / 8)|round(0, 'ceil') %}
        <nav aria-label="Pagination">
          <ul class="pagination">
            <li class="pagination-previous disabled">Previous</li>
            {% for i in 1..numOfPages %}
              <li><a href="javascript:;" id="page-{{ i }}" class="page-num" data-page-num="{{ i }} "aria-label="Page {{i}}">{{ i }}</a></li>
            {% endfor %}
            <li class="pagination-next disabled">Next</li>
          </ul>
        </nav>
      {% endif %}
    </section>

    <script>
      var currentPage = {{ currentPage }};
      document.getElementById("current-page").value = currentPage;
      document.getElementById("page-" + currentPage).classList.add("current");

      var $pageNumsEls = document.getElementsByClassName("page-num");
      console.log($pageNumsEls);
      for(var i = 0; i < $pageNumsEls.length; i++) {
        $pageNumsEls[i].onclick = function() {
          document.getElementById("current-page").value = this.getAttribute("data-page-num");
          document.getElementById("submit-search").click();
        }
      }
    </script>
  {% endblock %}
{% endembed %}
