{% embed "layouts/main-layout.html.twig" %}
  {% block page_content %}
    <div>
      <h3 class="inline-block">Latest posts</h3>
      <form class="inline-block" method="POST">
        <ul class="menu search-menu">
          <li><input type="text" name="search-word" placeholder="Search" value="{{ searchWord }}"></li>
          <li>
            <input type="hidden" name="current-page" id="current-page" value="{{ currentPage }}">
            <button type="submit" id="submit-search" class="button">Search</button>
          </li>
        </ul>
      </form>
    </div>
    <div class="home-page-content-wrapper">
      <section class="grid-container">
        <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">
          {% for blogPost in blogPosts %}
              <div class="cell">
                <p><b>{{ blogPost.title }}</b><p><p class="lightgray">{{ blogPost.dateTime|date('Y-m-d') }}</p>
                <img class="thumbnail" src="{% if blogPost.postImg %}{{ asset('../uploads/posts/' ~ blogPost.postImg) }}{% else %}{{ asset('assets/img/default.jpg') }}{% endif %}"/>
                <p class="blog-short-content">{{ blogPost.content }}</p> ...
                <div class="callout">
                  <ul class="menu simple">
                    <li>Author: {{ blogPost.getUser.getFirstName }} {{ blogPost.getUser.getLastName }}</li>
                    <li>Comments: {{ blogPost.getVisibleCommentsCount }}</li>
                  </ul>
                </div>
                <p><a href="user/{{ blogPost.getUserId() }}/blog/post/{{ blogPost.id }}" class="button" style="float: right;">READ</a></p>
              </div>
          {% endfor %}
        </div>
        {% if totalPosts > 0 %}
          <hr>
          {% set numOfPages = (totalPosts / 6)|round(0, 'ceil') %}
          <nav aria-label="Pagination">
            <ul class="pagination">
              <li class="pagination-previous disabled">Previous</li>
              {% for i in 1..numOfPages %}
                <li><a href="javascript:;" id="page-{{ i }}" class="page-num" data-page-num="{{ i }} "aria-label="Page {{i}}">{{ i }}</a></li>
              {% endfor %}
              <li class="pagination-next disabled">Next</li>
            </ul>
          </nav>
        {% endif %}
      </section>
      <aside class="authors">
        <div class="">
          <h4>Authors</h4>
          <ul>
            {% for user in users %}
              <li><a href="user/{{ user.id }}/blog">{{ user.firstName }} {{ user.lastName }}</li>
            {% endfor %}
          </ul>
        </div>
      </aside>
    </div>

    <script>
      var currentPage = {{ currentPage }};
      document.getElementById("current-page").value = currentPage;
      document.getElementById("page-" + currentPage).classList.add("current");

      var $pageNumsEls = document.getElementsByClassName("page-num");
      console.log($pageNumsEls);
      for(var i = 0; i < $pageNumsEls.length; i++) {
        $pageNumsEls[i].onclick = function() {
          document.getElementById("current-page").value = this.getAttribute("data-page-num");
          document.getElementById("submit-search").click();
        }
      }
    </script>

  {% endblock %}
{% endembed %}
