<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Symfony + Foundation, Blogging App Demo</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
          <h1><a href="/" class="logo-link">Symfony + Foundation, Blogging App Demo</a></h1>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if not app.user %}
            <li>
              <label for="email-login">Email :<label><input type="email" name="email-login" id="email-login" autocomplete="on"/>
              <p class="hidden red" id="user-not-found">User could not be found!<p>
            </li>
            <li><label for="pass-login">Password: <label><input type="password" name="pass-login" id="pass-login"></li>
            <li><button class="button" id="log-in-btn">Log In<button></li>
            <li><a href="#">Forgot?</a></li>
            <li><a href="#">Sign Up</a></li>
          {% elseif app.user %}
              <li><p class="logged-in-name">{{ app.user.firstName }} {{ app.user.lastName }}</p><li>
              {% if is_granted('ROLE_ADMIN') %}<li><a class="button" href="/admin">Admin</a></li>{% endif %}
              <li><a class="button left-padd-15" href="/user/{{ app.user.id }}/blog">My Blog</a></li>
              <li><button class="button" id="log-out-btn">Log Out<button></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="container" id="container">
      {% block page_content %}
      {% endblock %}
    </div>

    <div class="notification is-hidden" id="notification">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>

    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script>
      var app = new App();
      var logInBtn = document.getElementById("log-in-btn");
      if(logInBtn) {
        logInBtn.onclick = function() {
          app.logIn();
        }
      }
      var logOutBtn = document.getElementById("log-out-btn");
      if(logOutBtn) {
        logOutBtn.onclick = function() {
          app.logOut();
        }
      }
    </script>
  </body>
</html>
